$menu-bars-color: #888;
$primary-color: #FF7F49;
$primary-text-color: #001726;
$dark-gray-color: #595959;
$primary-backgound-color: #fcf2ed;
$secondary-color: #ffffff;
$secondary-text-color: #0A1128;
$third-text-color: #001726;
$fourth-color: #FBF1EC;
$rating-color: #ff9900;
$background-hover-color: #ff601c;
$background-secondary-hover: #fbf1ec;
$third-color: #fefdfd;
$Light-Coral: #ff804a52;
$dark-navy:rgba(10, 17, 40, 0.1);
$border-color:#0a112866;
//breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

//Font-weight
$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 600;

//font-family
$font-family-primary: "Work Sans", "Work Sans Placeholder", sans-serif;
$font-family-secondary: "Inter", "Inter Placeholder", sans-serif;